*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.sidebarbody {
    max-width: 259px;
    width: 100%;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
}
nav ul li div {
    width: 100%;
    display:flex;
    align-items: center;
    margin-bottom: 54px;
}
nav ul li div span {
    margin-left: 15px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex span {
    margin-left: 15px;
}
.mainblock {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
aside {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
}
.sidebarheader {
    margin-top: 42px;
    margin-bottom: 106px;
    display: flex;
}
.sidebar {
    max-width: 319px;
    width: 50%;
    height: 1080px; 
    background-color: #222222;   
}
.following {
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 41px;
}

.sidebarmain div {
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 28px;
}
.rightblock {
    max-width: 1601px;
    width: 100%;
}
.headerright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.headerright div {
    margin-right: 30px;
    color: #FF2288;
    font-size: 14px;
}
.messagebar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 24px;
    width: 24px;
}
.messagebar img {
    width: 100%;
}
.dot {
    background-color: #FF2288;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.button {
    margin-right: 91px;
    background-color: #FF2288;
    width: 129px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
}
.button a {
    color: #FFFFFF;
    font-size: 14px;
}


/* search button */
.search-box{
    background: #F8F8F8;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: 40px;
    display: flex;
    margin-left: 25px;
}
.search-box:hover > .search-txt{
    width: 446px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
   background: #F8F8F8;
     }
.search-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #111111;
    font-size: 16px;
    transition: 0.5s;   
    line-height: 40px;
    width: 0px;
}
/* search button  */

.header2 {
    display: flex;
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
    height: 51px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 87px;
    align-items: center;
}
.header2left {
    display: flex;
    flex-wrap: wrap;
}
.header2left div {
    color: #222222;
    margin-left: 51px;
    font-size: 16px;
}
.header2right {
    display: flex;
    width: 132px;
    align-items: center;
}
.header2right div img {
    width: 100%;
}
.header2right div {
    margin-right: 15px;
}

/* grid */


.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 59px;
    max-width: 1231px;width: 100%;
    margin: 0 auto;
}
.grid a {
    color: #222222;
}
.griddiv {
    width: 289px;
}
.griddiv img {
    width: 100%;
    /* margin-bottom: 16px; */
}
.griddiv1 {
    position: relative;
}
.griddivimg1 {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border-radius: 30%;
    position: absolute;
    left: 15px;
    top: 15px;
    margin-top: 15px;
    margin-left: 15px;
}
.griddivimg2 {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border-radius: 30%;
    position: absolute;
    left: 15px;
    top: 15px;
    margin-top: 59px;
    margin-left: 15px;
    padding: auto;
}

.loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.loadbutton {
    background-color: #F2F2F2;
    height: 56px;
    width: 289px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

/* topbar */
.topsbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1601px;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #FAFAFA;
}
.topsbarheader {
    display: flex;
    justify-content: space-between;
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
    margin-top: 67px;
    height: 43px;
}
.topsbarheader h3 {
    font-size: 32px;
    color: #222222;
}
.viewall { 
    color: #222222;
    font-size: 14px;
    opacity: 30%;
} 
.topsbarmain { 
    display: flex;
    flex-wrap: wrap;
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
    margin-top: 54px;
    /* height: 386px; */
}

.topsbarmainblock {
    width: 132px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.topsbarspan1 {
    margin-top: 15px;
    font-size: 16px;
    color: #222222;
    display: flex;
    justify-content: center;

}
.topsbarspan2 {
    margin-top: 15px;
    font-size: 12px;
    color: #222222;
    opacity: 60%;
    display: flex;
    justify-content: center;
}
.topsbarmainblock a { 
    color: #222222;
    font-size: 14px;
}
.topsbarbutton {
    margin-top: 15px;
    width: 132px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px #D8D8D8 solid;
    border-radius: 12px;
}

.listbar {
    display: flex;
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.listbar1 {
    width: 165px;
    margin-right: 100px;
    font-size: 16px;
    margin-top: 69px;
}
.listbar1 h6 {
    font-size: 16px;
    margin-bottom: 36px;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
}
.footerleft img {
    margin-right: 20px;
}






